body {
    margin: 0 auto;
    width: 70%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    background-color: chocolate;
}
div {
    box-sizing: border-box;
}
div.divcolor {
    padding: 50px;
    background-color: white;
}
nav ul, footer ul {
    margin: 0px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    padding: 20px;
    display: inline;
}
a {
    text-decoration: none;
    color: brown;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: brown;
}
p {
    font-size: 1em;
    line-height: 1.2em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    left: 15%;
    bottom: 10%;
    width: 80%;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

div.mainbody {
    margin-top: 10%;
}