.grid-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    padding: 10px;
    grid-gap: 50px;
}

.grid-item {
    padding: 20px;
    
    color: black;
    text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
  
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
  padding: 2px 16px;
}

.projectimg {
    width: 100%;
}

.projectlink {
    font-size: 1em;
}